*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
  color:hsl(0,0%,70%);
}
a{
  list-style: none;
  text-decoration: none;
}
h1{
  font-size:3.0rem;
}
h2{
  font-size:2.5rem;
}
h3{
  font-size:2.2rem;
}
h4{
  font-size:2.0rem;
  color:hsl(0,0%,90%);
  letter-spacing:2px;
}
h5{
  font-size:1.3rem;
  color:hsl(0,0%,90%);
  letter-spacing:2px;
}
a{
  font-size:1.5rem;
}
li{
  font-size:1.5rem;
  list-style: none;
}
p{
  font-size:1.5rem;
}
img{
  user-select:none;
}
.all-content{
  background: hsl(0,0%,10%);
}
nav{
  position:fixed;
  width:100%;
  display:flex;
  padding:1rem 0rem;
  justify-content:space-between;
  background: hsl(0,0%,5%);
  z-index:99;
}
.navigation-div, footer{
  width:80%;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.span-nav>h1{
  display: inline-block;
  margin:0 15px;
  flex:1;
}
.nav-h{
  flex:1;
  font-family: 'Courgette', cursive;
  color:white;
}
.nav-h.h1{
  position:relative;
  z-index:1;
}
.nav-h.h1::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  background: darkred;
  z-index:1;
  width:7rem;
  height:7rem;
  border-radius:50%;
  transform: translate(-40%, -22%);
  mix-blend-mode:screen;
  border:5px solid hsl(0,0%,5%);
}
.case ul,.navigation-div ul {
  display: flex;
  justify-content: space-between;
}
ul li{
  padding: 0px 20px;
}
ul li a{
  color:hsl(0,0%,80%);
  transition: color .3s ease-out;
}
ul li a:hover{
  color:hsl(0,0%,90%);
}
.order-aTag{
  background:linear-gradient(to right,hsl(0, 100%, 31%) 33%,darkred 66%);
  background-position:right bottom;
  background-size: 300% 100%;
  padding:10px 20px;
  border-radius:15px;
  transition:background-position .5s ease-in-out;
}
.order-aTag:hover{
  background:linear-gradient(to right,hsl(0, 100%, 31%) 33%,darkred 66%);
  background-position:left-bottom;
  background-size: 300% 100%;
  padding:10px 20px;
  border-radius:15px;
}
.home{
  background: radial-gradient(hsl(0,0%,22%), hsl(0,0%,10%),hsl(0,0%,10%));
  padding-bottom:100px;
}
.spec{
  position:relative;
  padding-bottom:100px;
  min-height:80vh;
}
.variations{
  position:relative;
  padding-bottom:100px;
  min-height:80vh;
}
.main-content-home{
  padding-top:50px;
  display:grid;
  grid-template-columns: 10% repeat(4,minmax(5rem,1fr)) 10%;
  grid-template-rows: 1fr 2fr 1fr;
}
.main-content-home> h2{
  grid-column:2/3;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  color:hsl(0,0%,90%);
  text-shadow:0px 3px 0px black;
}
.main-content-home>img{
  grid-row:2/3;
  grid-column:3/5;
  height:170%;
  object-fit: cover;
  align-self: center;
  justify-self:center;
}
.main-content-home>.info{
  grid-column:5/6;
  grid-row:3/4;
}
.info h3{
  color:hsl(0,0%,90%);
  margin-bottom:10px;
}
.main-spec{
  position:relative;
  width:80%;
  margin:0 auto;
  text-align:center;
  padding:100px 0px;
}
.spec-title{
  display:block;
  justify-content: center;
  width:50%;
  margin: 0 auto;
  padding:5px 0px;
}
.only-border{
  margin-top:5px;
  width:100%;
  height:2px;
  background:hsl(0,0%,90%);
  transform: scale(0);
}
.spec-title h3{
  color:white;
  word-spacing: 20px;
}
.spec-details{
  text-align: left;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  padding-top:200px;
  grid-gap:50px 0px;
}
.spec-details.mb{
  display:none;
}

.spec-details ul li{
  display: block;
  padding:5px 0px;
  font-size:1.0rem
}
.spec-details ul{
  display: block;
}
.strap{
  grid-column:3/4;
}
.variations-main-div{
  width:80%;
  margin:0 auto;
}
.variations-numbers{
  text-align:center;
  padding-bottom:20px;
}
.variations-numbers h3{
  color:white;
}
.inline-var-span{
  position:relative;
  padding-top:20px;
}
.inline-var-span > *{
  display:inline;
}
.inline-var-span > span{
  vertical-align: bottom;
}
.inline-var-span > i{
  font-size:40px;
  transition:color .3s ease-out
}
.inline-var-span > i:hover{
  color:white;
}
.inside-var-span{
  font-size:40px;
}
.inside-var-span>*{
  display:inline;
}
.inside-var-span>p{
  padding-top:0px;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  font-weight: bold;
}
.inside-var-span>p:nth-child(2){
  letter-spacing: 10px;
}
.var-active{
  padding-left:15px;
}
.variations-models-main{
  display:flex;
  width:50%;
  margin: 0 auto;
}
.variations-model{
  position:relative;
  width:300px;
  margin: 0 auto;
}
.model-img img{
  object-fit: cover;
  height:80%;
  width:100%;
  align-self: center;
  margin-top:20px;
}
.model-img{
  position:relative;
  width:100%;
  height: 300px;
}
.variations-model.no1 img{
}
.variations-model.no2 img{
  filter: grayscale(1);
}
.model-desc{
  text-align: center;
}
.model-desc ul{
  padding:20px 10px
}
.model-desc ul li{
  padding:10px 0px;
  font-size:16px;
}
footer a{
  transition:color 0.3s ease-out;
}
footer a:hover{
  color:hsl(0,0%,90%);
}
footer h3{
  font-family: 'Courgette', cursive;
}
@media screen and (max-width:1200px){
  .navigation-div{
    width:100%;
  }
  footer{
    width:95%;
  }
  .home{
    padding-bottom:0px;
  }
  .main-spec{
    padding-top:0px;
  }
  .main-content-home>img{
    grid-row:2/3;
    grid-column:3/5;
    object-fit: cover;
    height:100%;
    width:100%;
  }
  .main-content-home{
    padding-top:200px;
    display:block;
  }
  .main-content-home>h2{
    padding-bottom:50px;
  }
  .main-content-home>.info{
    width:80%;
    margin:0 auto;
    padding-top:150px;
  }
  .spec-details{
    padding-top:150px;
  }
}
@media screen and (max-width:1000px){
  .variations-main-div{
    width:95%;
  }
  .variations-models-main{
    width:80%;
  }
  .spec-details{
    display:none;
  }
  .spec-details.mb{
    display:block;
    padding-top:50px;
    text-align:center;
  }
  .spec-details.mb>div{
    margin-top: 20px;
    overflow: hidden;
    border-bottom:2px solid hsl(0,0%,90%);
    position:relative;
    cursor: pointer;
  }
  .spec-details.mb>div ul{
    max-height:0px;
    transition: max-height .3s ease-out;
  }
  .spec-details.mb>div.extend ul{
    max-height:800px;
    height:auto;
  }
  .spec-details.mb >div i{
    color:hsl(0,0%,90%);
    transform:rotate(00deg);
    font-size:2rem;
    position:absolute;
    top:0;
    right:0;
    transition:transform .3s ease-out;
  }
  .spec-details.mb >div.extend i{
    transform:rotate(180deg);
  }
}
@media screen and (max-width:800px){
  .navigation-div{
    display: block;
    text-align:center;
  }
  .navigation-div ul{
    display: block;
    padding-top:30px;
    padding-bottom:20px;
  }
  .navigation-div ul li{
    display: inline-block;
  }
  .spec-title{
    width:90%;
  }
  .variations-models-main {
    width: 95%;
  }
}
@media screen and (max-width:600px){
  footer{
    display:block;
    text-align:center;
  }
  footer p{
    padding-top:20px;
    padding-bottom:10px;
  }
}
@media screen and (max-width:500px){
  h1{
    font-size:2.0rem
  }
  a{
    font-size:1rem;
  }
  footer a{
    font-size:1.5rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4{
    font-size:1.3rem;
  }
  .navigation-div ul {
    padding-top:10px;
    padding-bottom:0px;
}
  .nav-h.h1::before {
    width: 3.5rem;
    height: 3.5rem;
  }
  .variations-numbers {
    text-align: center;
    padding-bottom: 0px;
  }
  .model-img {
    position: relative;
    width: 100%;
    height: 250px;
  }
  .variations-main-div {
    width: 99%;
}
.model-desc ul li {
    padding: 5px 0px;
}
}
